@page "/DataDictionary/{group:int}/{record:int}"
@model DataDictionaryRecordModel
@{
    Layout = "_Layout";
    string archiveText = Model.DictionaryRecord.IsArchived ? "Restore" : "Archive";
    List<string> types = new List<string>() { "Text", "Multiple Choice", "Numeric", "Link", };
    SelectList selectTypes = new SelectList(types);
}
<div class="govuk-width-container">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a asp-page="/_DataDictionaryGroup" asp-route-group="@Model.DictionaryRecord.DataDictionaryGroupId" class="govuk-back-link">Back</a>
        </div>
        <div class="govuk-grid-column-one-third pull-right">
        </div>
    </div>
    <div class="text-center">
        <form method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Edit @Model.DictionaryRecord.Name
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <input asp-for="DictionaryRecord.Id" name="DictionaryRecord.Id" type="hidden">
                    <label class="govuk-label" for="record-name">
                        Data Dictionary Record Name
                    </label>
                    <input asp-for="DictionaryRecord.Name" class="govuk-input" name="DictionaryRecord.Name" type="text">
                    <div class="govuk-hint">Record names should indicate the data they report upon.</div>
                    <div class="govuk-hint">Whitespace is not allowed, and will be replaced by an "_" character.</div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Data Dictionary Record Legacy Name
                    </label>
                    <input asp-for="DictionaryRecord.LegacyName" class="govuk-input" name="DictionaryRecord.LegacyName" type="text">
                    <div class="govuk-hint">Legacy names should mirror exactly the names of the field that was previously recorded in the Interrim Solution.</div>
                    <div class="govuk-hint">If this name has been recoreded incorrectly, it should be archived and a new Data Dictionary Item created.</div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Type
                    </label>
                    <select asp-for="DictionaryRecord.Type" asp-items="@selectTypes" class="govuk-input" name="DictionaryRecord.Type">
                        <option>Please select a data type...</option>
                      </select>
                    <div class="govuk-hint">Type should indicate the type of data that this field will report.</div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="legacy-name">
                        Description
                    </label>
                    <textarea asp-for="DictionaryRecord.Description" class="govuk-textarea" name="DictionaryRecord.Description" type="text"></textarea>
                    <div class="govuk-hint">A verbose description of what this Data Dictionary item represents, and what it is intended to represent for reporting purposes.</div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="group-archived">
                        Archived
                    </label>
                    <input asp-for="DictionaryRecord.IsArchived" class="govuk-checkboxes__input" name="DictionaryRecord.IsArchived" type="hidden">
                </div>
                <input asp-for="DictionaryRecord.CreatedDateTime" name="DictionaryRecord.CreatedDateTime" type="hidden">
                <input asp-for="DictionaryRecord.LastModifiedDateTime" name="DictionaryRecord.LastModifiedDateTime" type="hidden">
                <input asp-for="DictionaryRecord.DataDictionaryGroupId" name="DictionaryRecord.DataDictionaryGroupId" type="hidden">
                <input asp-for="GroupId" name="GroupId" type="hidden">
            </fieldset>

            <div class="govuk-button-group">
                <input id="update" type="submit" value="Update Record" name="update" class="govuk-button" />
            </div>
        </form>

    </div>
    <form method="post">
        <input type="hidden" name="archive" value="@Model.ToArchive.ToString().ToLower()" />
        <input asp-for="RecordId" name="RecordId" type="hidden">
        <input asp-for="GroupId" name="GroupId" type="hidden">
        <input asp-for="DictionaryRecord.Id" name="GroupId" type="hidden">
        <span asp-validation-for="DictionaryRecord" class="text-danger"></span>
        <button type="submit" class="govuk-button" asp-page-handler="archive">@archiveText</button>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            
                @if (Model.DictionaryRecord.IsArchived)
                {
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Data Dictionary Records may be restored.  Doing so will mean it is once again selectable within the workflow tools.
                </strong>
                }
                else
                {
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Data Dictionary Records cannot be deleted.  You may archive a record, which will prevent it from being selected when building future versions of workflows.
            </strong>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Archived Records will still be recorded and reported on, if they have been previously referenced in completed assessments.
            </strong>
                }

        </div>
    </form>
</div>

@await Html.PartialAsync("_Footer");

@section Scripts {

}
