@page "/DataDictionary"
@using Elsa.CustomModels
@model DataDictionaryModel
@{
    Layout = "_LayoutFullWidth";
    IEnumerable<DataDictionary> recordList = from p in Model.Dictionary
                                 from c in p.DataDictionaryList
                                 select new DataDictionary { Id = c.Id, Name = c.Name, LegacyName = c.LegacyName, IsArchived = c.IsArchived, DataDictionaryGroupId = c.DataDictionaryGroupId, Group = p  };
}
<div class="govuk-lg-width-container">
    <div class="govuk-tabs horizontal-padding__sm" data-module="govuk-tabs">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            </div>
            <div class="govuk-grid-column-one-third pull-right">
                <a asp-page="/_CreateDataDictionaryGroup" class="govuk-link pull-right">Add Data Dictionary Group</a>
            </div>
        </div>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#group-list">
                    Groups
                </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#item-list">
                    Items
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="group-list">
            <h2 class="govuk-heading-l">Data Dictionary Groups</h2>
    <table class="govuk-table" id="assessmentGroupTable">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Group Name</th>
                <th scope="col" class="govuk-table__header">Items</th>
                <th scope="col" class="govuk-table__header">Archived</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @if(Model.Dictionary != null)
            {
            @foreach (var group in Model.Dictionary.Where(x => !x.IsArchived))
            {

                <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_DataDictionaryGroup" asp-route-group="@group.Id" class="govuk-link">@group.Name</a></td>
                                <td class="govuk-table__cell">@group.DataDictionaryList.Count()</td>
                    <td class="govuk-table__cell">False</td>
                </tr>
            }

            @foreach (var group in Model.Dictionary.Where(x => x.IsArchived))
            {
                <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_DataDictionaryGroup" asp-route-group="@group.Id" class="govuk-link">@group.Name</a></td>
                                <td class="govuk-table__cell">@group.DataDictionaryList.Count()</td>
                    <td class="govuk-table__cell">True</td>
                </tr>
            }
            }

        </tbody>

    </table>
    </div>
        <div class="govuk-tabs__panel" id="item-list">
            <h2 class="govuk-heading-l">Data Dictionary Items</h2>
            <table class="govuk-table" id="assessmentListTable">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Legacy Name</th>
                        <th scope="col" class="govuk-table__header">Group Name</th>
                        <th scope="col" class="govuk-table__header">Archived</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.Dictionary != null)
                    {
                        @foreach (var record in recordList.Where(x => !x.IsArchived).ToList())
                        {

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_DataDictionaryRecord" asp-route-group="@record.DataDictionaryGroupId" asp-route-record="@record.Id" class="govuk-link">@record.Name</a></td>
                                <td class="govuk-table__cell">@record.LegacyName</td>
                                <td class="govuk-table__cell">
                                    <a asp-page="/_DataDictionaryGroup" asp-route-group="@record.DataDictionaryGroupId" class="">@record.Group.Name</a>
                                </td>
                                <td class="govuk-table__cell">False</td>
                            </tr>
                        }

                        @foreach (var record in recordList.Where(x => x.IsArchived).ToList())
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_DataDictionaryRecord" asp-route-group="@record.DataDictionaryGroupId" asp-route-record="@record.Id" class="govuk-link">@record.Name</a></td>
                                <td class="govuk-table__cell">@record.LegacyName</td>
                                <td class="govuk-table__cell">
                                    <a asp-page="/_DataDictionaryGroup" asp-route-group="@record.DataDictionaryGroupId" class="">@record.Group.Name</a>
                                </td>
                                <td class="govuk-table__cell">True</td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div>

    </div>
    </div>
@await Html.PartialAsync("_Footer");

@section Scripts {

}
