@page "/DataDictionary/{*group}"
@model DataDictionaryGroupModel
@{
    Layout = "_Layout";
    string archiveText = Model.DictionaryGroup.IsArchived ? "Restore" : "Archive";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row horizontal-padding__sm">
        <div class="govuk-grid-column-two-thirds">
            <a asp-page="/_DataDictionary" class="govuk-back-link">Back</a>
        </div>
        <div class="govuk-grid-column-one-third pull-right">
            <a asp-page="/_CreateDataDictionaryRecord" asp-route-group="@Model.DictionaryGroup.Id" class="govuk-link pull-right">Add Data Dictionary Record</a>
        </div>
    </div>
    <div class="text-center">
        <form method="post">
            <input type="hidden" name="groupId" value="@Model.DictionaryGroup.Id"/>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Edit @Model.DictionaryGroup.Name
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="group-name">
                        Group Name
                    </label>
                    <input asp-for="@Model.DictionaryGroup.Name" class="govuk-input" id="group-name" name="DictionaryGroup.Name" type="text"/>
                    <div class="govuk-hint">Group names should be clear and indicate the areas of an assessment their records align to.</div>
                </div>
                <input asp-for="@Model.DictionaryGroup.Id" name="DictionaryGroup.Id" type="hidden"/>
                <input asp-for="@Model.DictionaryGroup.IsArchived" name="DictionaryGroup.IsArchived" type="hidden"/>
                <input asp-for="@Model.DictionaryGroup.CreatedDateTime" name="DictionaryGroup.CreatedDateTime" type="hidden"/>
                <input asp-for="@Model.DictionaryGroup.LastModifiedDateTime" name="DictionaryGroup.LastModifiedDateTime" type="hidden"/>

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">List of Data Dictionary Items</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Archived</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (Model.DictionaryGroup.DataDictionaryList.Count() > 0)
                        {
                            int count = 0;
                            @foreach (var record in Model.DictionaryGroup.DataDictionaryList.Where(x => !x.IsArchived))
                            {
                                string namePrefix = $"DictionaryGroup.DataDictionaryList[{count}].";
                                <input asp-for="@record.Id" name="@(namePrefix)Id" type="hidden" value="@record.Id"/>
                                <input asp-for="@record.Name" name="@(namePrefix)Name" type="hidden" value="@record.Name"/>
                                <input asp-for="@record.LegacyName" name="@(namePrefix)LegacyName" type="hidden" value="@record.LegacyName"/>
                                <input asp-for="@record.IsArchived" name="@(namePrefix)IsArchived" type="hidden" value="@record.IsArchived.ToString().ToLower()"/>
                                <input asp-for="@record.Type" name="@(namePrefix)Type" type="hidden" value="@record.Type"/>
                                <input asp-for="@record.Description" name="@(namePrefix)description" type="hidden" value="@record.Description"/>
                                <input asp-for="@record.DataDictionaryGroupId" name="@(namePrefix)DataDictionaryGroupId" type="hidden" value="@record.DataDictionaryGroupId"/>
                                <input asp-for="@record.LastModifiedDateTime" name="@(namePrefix)LastModifiedDateTime" type="hidden" value="@record.LastModifiedDateTime"/>
                                <input asp-for="@record.CreatedDateTime" name="@(namePrefix)CreatedDateTime" type="hidden" value="@record.CreatedDateTime"/>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__cell"><a asp-page="_DataDictionaryRecord" class="govuk-link" asp-route-group="@record.DataDictionaryGroupId" asp-route-record="@record.Id" data-module="govuk-button">@record.Name</a></td>
                                    <td class="govuk-table__cell">@record.IsArchived.ToString()</td>
                                </tr>
                                count++;
                            }
                            @if(Model.DictionaryGroup.DataDictionaryList.Any(x => x.IsArchived))
                            {
                                <tr class="govuk-table__row">
                                    <td colspan="2" scope="row" class="govuk-table__cell"><h2 class="govuk-heading-m">Archived Records:</h2></td>
                                </tr>
                                @foreach (var record in Model.DictionaryGroup.DataDictionaryList.Where(x => x.IsArchived))
                                {
                                    string namePrefix = $"DictionaryGroup.DataDictionaryList[{count}].";
                                    <input asp-for="@record.Id" name="@(namePrefix)Id" type="hidden" value="@record.Id" />
                                    <input asp-for="@record.Name" name="@(namePrefix)Name" type="hidden" value="@record.Name" />
                                    <input asp-for="@record.LegacyName" name="@(namePrefix)LegacyName" type="hidden" value="@record.LegacyName" />
                                    <input asp-for="@record.IsArchived" name="@(namePrefix)IsArchived" type="hidden" value="@record.IsArchived.ToString().ToLower()" />
                                    <input asp-for="@record.Type" name="@(namePrefix)Type" type="hidden" value="@record.Type" />
                                    <input asp-for="@record.Description" name="@(namePrefix)description" type="hidden" value="@record.Description" />
                                    <input asp-for="@record.DataDictionaryGroupId" name="@(namePrefix)DataDictionaryGroupId" type="hidden" value="@record.DataDictionaryGroupId" />
                                    <input asp-for="@record.LastModifiedDateTime" name="@(namePrefix)LastModifiedDateTime" type="hidden" value="@record.LastModifiedDateTime" />
                                    <input asp-for="@record.CreatedDateTime" name="@(namePrefix)CreatedDateTime" type="hidden" value="@record.CreatedDateTime" />
                                    <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell"><a asp-page="_DataDictionaryRecord" class="govuk-link" asp-route-group="@record.DataDictionaryGroupId" asp-route-record="@record.Id" data-module="govuk-button">@record.Name</a></td>
                                        <td class="govuk-table__cell">@record.IsArchived.ToString()</td>
                                    </tr>
                                    count++;
                                }
                            }

                        }
                        else
                        {
                            <tr>
                                <td scope="row" colspan="2" class="govuk-table__cell">No records exist in this group</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </fieldset>
            <div class="govuk-button-group">
                <button type="submit" asp-page-handler="update" class="govuk-button govuk-button-override" data-module="govuk-button">Update Group</button>
            </div>
        </form>

    </div>

    <form method="post" asp-route-archive="@Model.ToArchive">
        <input type="hidden" name="archive" value="@Model.ToArchive.ToString().ToLower()" />
        <input type="hidden" name="groupId" value="@Model.DictionaryGroup.Id"/>
        <button type="submit" class="govuk-button govuk-button-override" asp-page-handler="archive" data-module="govuk-button">@archiveText</button>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            @if (Model.DictionaryGroup.IsArchived)
            {
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Data Dictionary Groups may be restored.  Doing so will mean it is once again selectable within the workflow tools.  All related Records will also be restored by this action.
                </strong>
            }
            else
            {
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Data Dictionary Groups and Records cannot be deleted.  You may archive a record, which will prevent it from being selected when building future versions of workflows.
                </strong>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Archived Records will still be recorded and reported on, if they have been previously referenced in completed assessments.
                </strong>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    All listed Dictionary Records belonging to this group will also be archived.
                </strong>
            }
        </div>
    </form>
</div>
@await Html.PartialAsync("_Footer");

@section Scripts {

}
