@page "/GlobalVariable"
@using Elsa.CustomModels
@model GlobalVariableModel
@{
    Layout = "_LayoutFullWidth";
    IEnumerable<GlobalVariable> recordList = from p in Model.GlobalVariableGroup
                                 from c in p.GlobalVariableList
                                    select new GlobalVariable { Id = c.Id, Name = c.Name, Value = c.Value, IsArchived = c.IsArchived, GlobalVariableGroupId = c.GlobalVariableGroupId, Group = p };
}
<div class="govuk-lg-width-container">
    <div class="govuk-tabs horizontal-padding__sm" data-module="govuk-tabs">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            </div>
            <div class="govuk-grid-column-one-third pull-right">
                <a asp-page="/_CreateGlobalVariableGroup" class="govuk-link pull-right">Add Global Variable Group</a>
            </div>
        </div>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#group-list">
                    Groups
                </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#item-list">
                    Records
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="group-list">
            <h2 class="govuk-heading-l">Global Variable Groups</h2>
    <table class="govuk-table" id="assessmentGroupTable">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Group Name</th>
                <th scope="col" class="govuk-table__header">Records</th>
                <th scope="col" class="govuk-table__header">Archived</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @if(Model.GlobalVariableGroup != null)
            {
                        @foreach (var group in Model.GlobalVariableGroup.Where(x => !x.IsArchived))
            {

                <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_GlobalVariableGroup" asp-route-group="@group.Id" class="govuk-link">@group.Name</a></td>
                                <td class="govuk-table__cell">@group.GlobalVariableList.Count()</td>
                    <td class="govuk-table__cell">False</td>
                </tr>
            }

                        @foreach (var group in Model.GlobalVariableGroup.Where(x => x.IsArchived))
            {
                <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_GlobalVariableGroup" asp-route-group="@group.Id" class="govuk-link">@group.Name</a></td>
                                <td class="govuk-table__cell">@group.GlobalVariableList.Count()</td>
                    <td class="govuk-table__cell">True</td>
                </tr>
            }
            }

        </tbody>

    </table>
    </div>
        <div class="govuk-tabs__panel" id="item-list">
            <h2 class="govuk-heading-l">Global Variable Records</h2>
            <table class="govuk-table" id="assessmentListTable">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Legacy Name</th>
                        <th scope="col" class="govuk-table__header">Group Name</th>
                        <th scope="col" class="govuk-table__header">Archived</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.GlobalVariableGroup != null)
                    {
                        @foreach (var record in recordList.Where(x => !x.IsArchived).ToList())
                        {

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/GlobalVariableInstance" asp-route-group="@record.GlobalVariableGroupId" asp-route-record="@record.Id" class="govuk-link">@record.Name</a></td>
                                <td class="govuk-table__cell">@record.Value</td>
                                <td class="govuk-table__cell">
                                    <a asp-page="/_GlobalVariableGroup" asp-route-group="@record.GlobalVariableGroupId" class="">@record.Group.Name</a>
                                </td>
                                <td class="govuk-table__cell">False</td>
                            </tr>
                        }

                        @foreach (var record in recordList.Where(x => x.IsArchived).ToList())
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a asp-page="/_GlobalVariableInstance" asp-route-group="@record.GlobalVariableGroupId" asp-route-record="@record.Id" class="govuk-link">@record.Name</a></td>
                                <td class="govuk-table__cell">@record.Value</td>
                                <td class="govuk-table__cell">
                                    <a asp-page="/_GlobalVariableGroup" asp-route-group="@record.GlobalVariableGroupId" class="">@record.Group.Name</a>
                                </td>
                                <td class="govuk-table__cell">True</td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div>

    </div>
    </div>
@await Html.PartialAsync("_Footer");

@section Scripts {

}
