@page "/"
@using Elsa.Dashboard.PageModels
@using Microsoft.Extensions.Configuration
@model ElsaDashboardLoader
@inject NonceConfig nonceConfig
@inject IConfiguration Configuration
@{
    var serverUrl = Configuration["Urls:ElsaServer"];
    var clientId = Configuration["Auth0Config:ClientId"];
    var domain = Configuration["Auth0Config:Domain"];
    var audience = Configuration["Auth0Config:Audience"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elsa Workflows</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/images/favicon-16x16.png">
    <link rel="stylesheet" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/fonts/inter/inter.css">
    <link rel="stylesheet" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/elsa-workflows-studio.css">
    <link rel="stylesheet" href="/css/site.css">
    <script nonce="@nonceConfig.ElsaSetup" type="importmap">
        {
                  "imports": {
                    "InitCustomElsa": "/Scripts/CustomElsa.js"
                  }
                }</script>
    <script nonce="@nonceConfig.ElsaSetup" src="/_content/Elsa.Designer.Components.Web/monaco-editor/min/vs/loader.js"></script>
    <script nonce="@nonceConfig.ElsaSetup" type="module" src="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/elsa-workflows-studio.esm.js"></script>
    <script nonce="@nonceConfig.ElsaSetup" type="module" src="/static/build/custom-elsa.esm.js"></script>
    <script nonce="@nonceConfig.ElsaSetup" type="module" src="/Scripts/CustomElsa.js"></script>

    <style>

    </style>
</head>
<body>
    <elsa-studio-root server-url="@serverUrl" monaco-lib-path="_content/Elsa.Designer.Components.Web/monaco-editor/min">
        <elsa-studio-dashboard></elsa-studio-dashboard>
    </elsa-studio-root>

    <script nonce="@nonceConfig.ElsaSetup" type="module">
        import { InitCustomElsa } from "InitCustomElsa"
        var elsaStudioRoot = document.querySelector('elsa-studio-root');
        let customActivities = @Html.Raw(Model.JsonResponse)

        const auth0ClientOptions = {
            client_id: '@clientId',
            domain: '@domain',
            audience: '@audience',
            useRefreshTokens: true
        }

        const storeConfig = {
            serverUrl: '@serverUrl',
            audience: '@audience',
            client: '@clientId',
            domain: '@domain',
            useRefreshTokens: true
        }

        InitCustomElsa(elsaStudioRoot, customActivities, auth0ClientOptions,storeConfig)
    </script>

</body>
</html>
