@page "/"
@using Elsa.CustomWorkflow.Sdk.HttpClients
@using Microsoft.Extensions.Configuration
@inject NonceConfig nonceConfig
@inject IElsaServerHttpClient client
@{
    string? jsonResponse = await client.LoadCustomActivities();
}
@inject IConfiguration Configuration
@{
    string serverUrl = Configuration["Urls:ElsaServer"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Elsa Workflows</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/images/favicon-16x16.png">
    <link rel="stylesheet" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/assets/fonts/inter/inter.css">
    <link rel="stylesheet" href="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/elsa-workflows-studio.css">
    <link rel="stylesheet" href="/css/site.css">
    <script nonce="@nonceConfig.ElsaSetup" type="importmap">
        {
                  "imports": {
                    "InitCustomElsa": "/Scripts/CustomElsa.js"
                  }
                }</script>
    <script nonce ="@nonceConfig.ElsaSetup"  src="/_content/Elsa.Designer.Components.Web/monaco-editor/min/vs/loader.js"></script>
    <script nonce ="@nonceConfig.ElsaSetup"  type="module" src="/_content/Elsa.Designer.Components.Web/elsa-workflows-studio/elsa-workflows-studio.esm.js"></script>
    <script nonce ="@nonceConfig.ElsaSetup"  type="module" src="/static/build/custom-elsa.esm.js"></script>
    <script nonce="@nonceConfig.ElsaSetup" type="module" src="/Scripts/CustomElsa.js"></script>

    <style>
    </style>
</head>
<body>
<elsa-studio-root server-url="@serverUrl" monaco-lib-path="_content/Elsa.Designer.Components.Web/monaco-editor/min">
    <elsa-studio-dashboard></elsa-studio-dashboard>
</elsa-studio-root>

 <script nonce="@nonceConfig.ElsaSetup" type="module">
        import { InitCustomElsa } from "InitCustomElsa"
        var elsaStudioRoot = document.querySelector('elsa-studio-root');
        let customActivities = @Html.Raw(jsonResponse)
        console.log("Custom Activities", customActivities);
        InitCustomElsa(elsaStudioRoot, customActivities)
</script>

</body>
</html>
