@using He.PipelineAssessment.UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model He.PipelineAssessment.UI.Features.Assessments.AssessmentList.AssessmentListData
@inject NonceConfig nonceConfig
@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_Layout";
}

<h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">Assessment Search</label></h1>
<br/>

<div class="text-center">
    
    <div id="search-div"></div><br/>
    @*    <div>Project Manager</div>
    <div>Partner</div>
    <div>Team</div>
    <div>Local Authority</div>
    <div>Status</div>*@

    <table class="govuk-table" id="table_id">
        @*<caption class="govuk-table__caption govuk-table__caption--m">Assessment Search</caption>*@

        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Opportunity ID</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Project</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric searchable">Project Manager</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric searchable">Partner</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric searchable">Team</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric searchable">Local Authority</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date created</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric searchable">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var assessment in Model.ListOfAssessments)
        {
            <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a asp-controller="Assessment" asp-action="Summary" asp-route-assessmentId="@assessment.AssessmentWorkflowId" class="govuk-link">@assessment.Id</a> </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">@assessment.ProjectName</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@assessment.ProjectManager</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@assessment.Partner</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@assessment.Team</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@assessment.LocalAuthority</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@assessment.DateCreated.ToString("d - MM - yy HH:mm:ss")</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--@assessment.StatusDisplayTag()">@assessment.StatusDisplay()</strong></td>
            </tr>
        }
        </tbody>
 @*       <tfoot>
        <tr>
            <th>Opportunity ID</th>
            <th>Project</th>
            <th>Project Manager</th>
            <th>Partner</th>
            <th>Team</th>
            <th>Local Authority</th>
            <th>Date created</th>
            <th>Status</th>
        </tr>
        </tfoot>*@
    </table>
</div>

@section Scripts
{
    <script nonce="@nonceConfig.DataTablesSetup">

        $(document).ready(function () {
            $('#table_id').DataTable({
                order:[[6,'desc']],

                initComplete: function () {
                    this.api()
                        .columns('.searchable')
                        .every(function () {
                            var column = this;

                            var label = $('<div class="govuk-date-input__item"><div id="' + column.header().textContent.replaceAll(/\s/g, '') + '" class="govuk-form-group"><label class="govuk-label govuk-date-input__label">' + column.header().textContent + ' </label></div></div>')
                            .appendTo('#search-div');

                            var select = $('<select class="govuk-select"><option value=""></option></select>')
                                .appendTo('#' + column.header().textContent.replaceAll(/\s/g, ''))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {

                                    var dom_nodes = $($.parseHTML(d));
                                    var node = dom_nodes[0];
                                    if (node.innerText != null) {
                                        select.append('<option value="' + node.innerText + '">' + node.innerText + '</option>');
                                    }
                                    else
                                    {
                                        select.append('<option value="' + d + '">' + d + '</option>');
                                    }

                                });
                        });
                },

            });
        });
    
    </script>
}
