@using He.PipelineAssessment.UI
@using System.Globalization;
@using He.PipelineAssessment.UI.Authorization;
@using He.PipelineAssessment.UI.Extensions;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<He.PipelineAssessment.Models.ViewModels.AssessmentDataViewModel>
@inject NonceConfig nonceConfig

@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_LayoutFullWidth";
}

<div class="govuk-grid-row">

    <h1 class="govuk-heading-l govuk-grid-column-three-quarters pull-left" for="event-name">Assessment Search</h1>

    @if ((await AuthorizationService.AuthorizeAsync(User, Constants.AuthorizationPolicies.AssignmentToPipelineAdminRoleRequired)).Succeeded)
    {
        <div class="govuk-grid-column-one-quarter">
            <div class="govuk-grid-row">
                @Html.ActionLink("Admin", "AssessmentTool","Admin", null, new{@class="govuk-link pull-right govuk-grid-column-one-half govuk-!-font-size-24"})
                @Html.ActionLink("Sync", "Sync", "SinglePipeline",null,new{@class="govuk-button pull-right govuk-grid-column-one-half"})
            </div>
        </div>
    }

</div>
<br />

<div class="text-center">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div id="search-div" class="header-select override-header-select"></div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div id="filter-div" class="float-right"></div>
        </div>
    </div>

    <br />

    <table class="govuk-table" id="assessmentListTable" hidden="hidden">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Reference</th>
                <th scope="col" class="govuk-table__header">Project</th>
                <th scope="col" class="govuk-table__header">Partner</th>
                <th scope="col" class="govuk-table__header">Local Authority</th>
                <th scope="col" class="govuk-table__header">Funding Ask</th>
                <th scope="col" class="govuk-table__header">Homes</th>
                <th scope="col" class="govuk-table__header" data-searchable="true">Project Manager</th>
                <th scope="col" class="govuk-table__header">Date Created</th>
                <th scope="col" class="govuk-table__header">Last Updated</th>
                <th scope="col" class="govuk-table__header" data-searchable="true">Status</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var assessment in Model)
{
            var lastModified = assessment.LastModifiedDateTime.HasValue ? assessment.LastModifiedDateTime.Value.Date.ToLongDateString() : "";
                var created = assessment.CreatedDateTime.HasValue ? assessment.CreatedDateTime.Value.Date.ToLongDateString() : "";

            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a asp-controller="Assessment" asp-action="Summary" asp-route-assessmentid="@assessment.Id" asp-route-correlationId="@assessment.SpId" class="govuk-link">@assessment.Reference</a> </td>
                <td class="govuk-table__cell">@assessment.SiteName</td>
                <td class="govuk-table__cell">@assessment.Counterparty</td>
                <td class="govuk-table__cell">@assessment.LocalAuthority</td>
                <td class="govuk-table__cell">@assessment.FundingAskCurrency</td>
                <td class="govuk-table__cell">@assessment.NumberOfHomesFormatted</td>
                <td class="govuk-table__cell">@assessment.ProjectManager</td>
                <td class="govuk-table__cell">@created</td>
                <td class="govuk-table__cell">@lastModified </td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--@assessment.StatusDisplayTag()">@assessment.Status</strong></td>
            </tr>
        }
        </tbody>

    </table>
</div>

@section Scripts
    {
    <script nonce="@nonceConfig.DataTablesSetup" src="~/js/gov_dataTable.js"></script>
    <script nonce="@nonceConfig.DataTablesSetup">
        $(document).ready(function () {
            initDataTable('assessmentListTable', 3, "search-div")
        });
    </script>
}
