@using He.PipelineAssessment.UI
@using He.PipelineAssessment.UI.Authorization;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization;
@inject IRoleValidation RoleValidation;
@inject IAuthorizationService AuthorizationService;
@inject NonceConfig nonceConfig;
@model He.PipelineAssessment.UI.Features.Assessment.AssessmentSummary.AssessmentSummaryResponse;

@{
    ViewData["Title"] = "Assessment Summary";
    Layout = "_Layout";
    bool isAdmin = ((await AuthorizationService.AuthorizeAsync(User, Constants.AuthorizationPolicies.AssignmentToPipelineAdminRoleRequired)).Succeeded);
}

@Html.ActionLink("Back","Index","Assessment", null,new{ @class="govuk-back-link"})

@if(Model.SensitiveStatus != null)
{
    <span class="govuk-caption-l">@Model.Reference - @Model.SensitiveStatus</span>
} 
else
{
    <span class="govuk-caption-l">@Model.Reference</span>
}

<h1 class="govuk-heading-l">@Model.SiteName</h1>

<table class="govuk-body">
    <tr>
        <td><b>Single Pipeline ID: </b></td>
        <td>@Model.CorrelationId</td>
    </tr>
    <tr>
        <td><b>Local Authority: </b></td>
        <td>@Model.LocalAuthority</td>
    </tr>
    <tr>
        <td><b>Partner: </b></td>
        <td>@Model.CounterParty</td>
    </tr>
    <tr>
        <td><b>Project: </b></td>
        <td>@Model.ProjectManager</td>
    </tr>
</table>

@if (!Model.HasValidBusinessArea)
{
    @if (Model.BusinessAreaMessage != null)
    {
        <div class="govuk-warning-text govuk-warning-text__pas-custom">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>

            @foreach (var message in Model.BusinessAreaMessage)
            {
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    @message
                </strong>
                
            }
            
        </div>
    }
}

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#summary">
                Assessment Summary
            </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#history">
                Assessment History
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#requests">
                Requests
            </a>
        </li>
        @if (isAdmin || RoleValidation.IsProjectManagerForAssessment(Model.ProjectManager))
        {
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#permissions">
                    Permissions
                </a>
            </li>
        }

    </ul>
    <div class="govuk-tabs__panel" id="summary">
        @await Html.PartialAsync("_SummaryList",Model)
    </div>
    <div class="govuk-tabs__panel" id="history">
        @await Html.PartialAsync("_HistoryList",Model)
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="requests">
        @await Html.PartialAsync("_InterventionList",Model)
    </div>
    @if (isAdmin || RoleValidation.IsProjectManagerForAssessment(Model.ProjectManager))
    {
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="permissions">
            @await Html.PartialAsync("_PermissionsList", Model)
        </div>
    }
</div>

<script nonce="@nonceConfig.SiteSetup" src="~/js/site.js"></script>