@using He.PipelineAssessment.UI
@using He.PipelineAssessment.UI.Authorization;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject NonceConfig nonceConfig
@model He.PipelineAssessment.UI.Features.Assessment.AssessmentSummary.AssessmentSummaryResponse;

@{
    ViewData["Title"] = "Assessment Summary";
    Layout = "_Layout";
}

@Html.ActionLink("Back","Index","Assessment", null,new{ @class="govuk-back-link"})
<span class="govuk-caption-l">@Model.Reference</span>
<h1 class="govuk-heading-l">@Model.SiteName</h1>

<p class="govuk-body">@Model.LocalAuthority</p>
<p class="govuk-body">@Model.CounterParty</p>
<p class="govuk-body">@Model.ProjectManager</p>

@if (!Model.HasValidBusinessArea)
{

    <!-- USING NOTIFICATION BANNER -->
    @if (Model.BusinessAreaMessage != null)
    {
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                @foreach (var message in Model.BusinessAreaMessage)
                {
                    <p class="govuk-notification-banner__heading notification-banner-max-width">
                        @message
                    </p>
                }
            </div>
        </div>
    }


    <!-- USING WARNING TEXT -->
    @if (Model.BusinessAreaMessage != null)
    {
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>

            @foreach (var message in Model.BusinessAreaMessage)
            {
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    @message
                </strong>
                
            }
            
        </div>
    }


    <!-- USING INSET TEXT -->

    @if(Model.BusinessAreaMessage != null)
    {
        <div class="govuk-inset-text">
            @foreach(var message in Model.BusinessAreaMessage)
            {
                <p>@message</p>
            }
        </div>
        }


}

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#summary">
                Assessment Summary
            </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#history">
                Assessment History
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#requests">
                Requests
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="summary">
        @await Html.PartialAsync("_SummaryList",Model)
    </div>
    <div class="govuk-tabs__panel" id="history">
        @await Html.PartialAsync("_HistoryList",Model)
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="requests">
        @await Html.PartialAsync("_InterventionList",Model)
    </div>
</div>

<script nonce="@nonceConfig.SiteSetup" src="~/js/site.js"></script>