@using He.PipelineAssessment.UI
@model He.PipelineAssessment.UI.Features.Assessment.AssessmentSummary.AssessmentSummaryResponse;

@{
    ViewData["Title"] = "Assessment Summary";
    Layout = "_Layout";
}

@Html.ActionLink("Back","Index","Assessment", null,new{ @class="govuk-back-link"})
<span class="govuk-caption-l">@Model.Reference</span>
<h1 class="govuk-heading-l">@Model.SiteName @Model.CounterParty</h1>

@using (Html.BeginForm("StartWorkflow", "Workflow", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.AssessmentId)
    @Html.HiddenFor(x=>x.CorrelationId)
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">Enter workflow definition ID to start a workflow</label></h1>
    <input type="text" class="govuk-input" name="WorkflowDefinitionId" />
    <br />
    <input class="govuk-button" data-module="govuk-button" id = "Submit" type = "submit" value = "Start now" />
}

<div class="text-center">
    <div class="text-center">
        <table class="govuk-table"> 
            <caption class="govuk-table__caption govuk-table__caption--m">Assessment Summary</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Stage</th>
                    <th scope="col" class="govuk-table__header">Started</th>
                    <th scope="col" class="govuk-table__header">Submitted</th>
                    <th scope="col" class="govuk-table__header">Status</th>

                    
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var assessmentStage in Model.Stages)
                {
                    <tr class="govuk-table__row">
                        @if (assessmentStage.AssessmentToolId != null)
                        {
                            <td class="govuk-table__cell">@Html.ActionLink(assessmentStage.Name, "LoadWorkflowActivity", "Workflow", new {WorkflowInstanceId = assessmentStage.WorkflowInstanceId, ActivityId = assessmentStage.CurrentActivityId, ActivityType = assessmentStage.CurrentActivityType})</td>
                        }
                        else
                        {
                                <td class="govuk-table__cell">@assessmentStage.Name</td>
                        }
                        <td class="govuk-table__cell">@assessmentStage.CreatedDateTime</td>
                        <td class="govuk-table__cell">@assessmentStage.SubmittedDateTime</td>
                        
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--@assessmentStage.StatusDisplayTag()">@(assessmentStage.Status ?? "Not Started")
                        </strong></td>
                        

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

