@model List<He.PipelineAssessment.Models.ViewModels.AssessmentDataViewModel>

<div class="text-center">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div id="search-div" class="header-select override-header-select"></div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div id="filter-div" class="float-right"></div>
        </div>
    </div>

    <br />

    <table class="govuk-table" id="assessmentListTable" hidden="hidden">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">SP ID</th>
                <th scope="col" class="govuk-table__header">Project</th>
                <th scope="col" class="govuk-table__header">Partner</th>
                <th scope="col" class="govuk-table__header">Local Authority</th>
                <th scope="col" class="govuk-table__header">Funding Ask</th>
                <th scope="col" class="govuk-table__header">Homes</th>
                <th scope="col" class="govuk-table__header" data-searchable="true">Project Manager</th>
                <th scope="col" class="govuk-table__header">Last Updated</th>
                <th scope="col" class="govuk-table__header" data-searchable="true">Status</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var assessment in Model)
            {
                var lastModifiedDate = assessment.LastModifiedDateTime.HasValue ? assessment.LastModifiedDateTime.Value.Date.ToString("yyyyMMdd") : "";
                var lastModified = assessment.LastModifiedDateTime.HasValue ? assessment.LastModifiedDateTime.Value.Date.ToLongDateString() : "";

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a asp-controller="Assessment" asp-action="Summary" asp-route-assessmentid="@assessment.Id" asp-route-correlationId="@assessment.SpId" class="govuk-link">@assessment.SpId</a> </td>
                    <td class="govuk-table__cell">@assessment.SiteName</td>
                    <td class="govuk-table__cell">@assessment.Counterparty</td>
                    <td class="govuk-table__cell">@assessment.LocalAuthority</td>
                    <td class="govuk-table__cell">@assessment.FundingAskCurrency</td>
                    <td class="govuk-table__cell">@assessment.NumberOfHomesFormatted</td>
                    <td class="govuk-table__cell">@assessment.ProjectManager</td>
                    <td class="govuk-table__cell"> <span hidden>@lastModifiedDate</span> @lastModified </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--@assessment.StatusDisplayTag()">@assessment.Status</strong></td>
                </tr>
            }
        </tbody>

    </table>
</div>
