@model He.PipelineAssessment.UI.Features.Intervention.InterventionManagement.AssessmentInterventionDto;

@{
    var assessorRationaleErrorClass = "";
    if (Model.ValidationResult != null)
    {
        var assessorRationaleInvalid = Model.ValidationResult.Errors.Any(x => x.PropertyName == "AssessorRationale");
        assessorRationaleErrorClass = assessorRationaleInvalid ? "govuk-input--error" : "";
    }
}

<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">@Model.AssessmentInterventionCommand.ProjectReference</span>
        <h1 class="govuk-heading-l">
            Decision for @Model.AssessmentInterventionCommand.DecisionType
        </h1>
    </legend>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Decision Type
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.AssessmentInterventionCommand.DecisionType
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.AssessmentInterventionCommand.RequestedBy
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Assessment Stage
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.AssessmentInterventionCommand.AssessmentName
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Result
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.AssessmentInterventionCommand.AssessmentResult
            </dd>
        </div>
    </dl>

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="AssessorRationale">
                Rationale
            </label>
        </h1>
        <textarea class="govuk-textarea @assessorRationaleErrorClass" id="AssessorRationale" name="AssessmentInterventionCommand.AssessorRationale" rows="5" aria-describedby="AssessorRationale">@Model.AssessmentInterventionCommand.AssessorRationale</textarea>
    </div>

    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentInterventionId)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentToolWorkflowInstanceId)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.WorkflowInstanceId)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentResult)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentName)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessorRationale)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.RequestedBy)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.RequestedByEmail)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.Administrator)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AdministratorEmail)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.DecisionType)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.Status)
    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.ProjectReference)

</fieldset>