@model He.PipelineAssessment.UI.Features.Intervention.InterventionManagement.AssessmentInterventionDto;

@{
    ViewData["Title"] = "Create Assessment Override";
    Layout = "_Layout";
}
<div class="text-center">
    @using (Html.BeginForm("CreateOverride", "Override", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="govuk-form-group">
            <div class="govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.AssessmentInterventionCommand.ProjectReference</span>
                        <h1 class="govuk-heading-l">
                            Decision for Override
                        </h1>
                    </legend>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Decision Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentInterventionCommand.DecisionType
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentInterventionCommand.RequestedBy
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Assessment Stage
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentInterventionCommand.AssessmentName
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Result
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentInterventionCommand.AssessmentResult
                            </dd>
                        </div>
                    </dl>

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="signoff-document">
                                Attach Sign off document
                            </label>
                        </h1>
                        <input class="govuk-input" id="signoff-document" name="AssessmentInterventionCommand.SignOffDocument" value="@Model.AssessmentInterventionCommand.SignOffDocument" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="rationale">
                                Rationale
                            </label>
                        </h1>
                        <textarea class="govuk-textarea" id="rationale" name="AssessmentInterventionCommand.AdministratorRationale" @Model.AssessmentInterventionCommand.AdministratorRationale rows="5" aria-describedby="rationale"></textarea>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="workflow-definitions">
                            Target workflow definition
                        </label>
                        <div id="subject-hint" class="govuk-hint">
                            This is the workflow definition, which will be available to start after this intervention request has been approved. All workflows created after '@Model.AssessmentInterventionCommand.AssessmentName' will be deleted.
                        </div>
                        @Html.DropDownListFor(x =>
                    Model.AssessmentInterventionCommand.TargetWorkflowDefinitionId,
                    new SelectList(Model.TargetWorkflowDefinitions, "Id", "DisplayName"),
                    "Choose target workflow definition", new {@class = "govuk-select", id="workflow-definitions"})
                    </div>

                    @*                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Date Submitted
                </dt>
                <dd class="govuk-summary-list__value">
                @DateTime.Now.ToString("dd/mm/yyyy HH.MM/ss")
                </dd>
                </div>
                </dl>*@
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentToolWorkflowInstanceId)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.WorkflowInstanceId)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentResult)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessmentName)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AssessorRationale)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.RequestedBy)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.RequestedByEmail)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.Administrator)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.AdministratorEmail)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.DecisionType)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.Status)
                    @Html.HiddenFor(x => Model.AssessmentInterventionCommand.ProjectReference)
                </fieldset>
            </div>

            <input id="Next" type="submit" value="Save and continue" name="Next" class="govuk-button" />
        </div>
    }
</div>
