@using He.PipelineAssessment.Models
@model He.PipelineAssessment.UI.Features.Intervention.InterventionManagement.ConfirmRollback.ConfirmRollbackCommand

@{
    ViewData["Title"] = "Create Assessment Rollback";
    Layout = "_Layout";
}
<div class="text-center">
    @{
        var isEditable = Model.Status == InterventionStatus.Draft;
    }
    @using (Html.BeginForm("ConfirmRollback", "Rollback", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="govuk-form-group">
            <div class="govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.ProjectReference</span>
                        <h1 class="govuk-heading-l">
                            Request for Rollback
                        </h1>
                    </legend>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds-from-desktop">
                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Decision Type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.DecisionType</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.RequestedBy</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Assessment Stage
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.AssessmentName</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Result
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.AssessmentResult</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Rationale
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.AssessorRationale</p>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @if (isEditable)
                                        {
                                            @Html.ActionLink("Change", "EditRollbackAssessor", "Rollback", new { InterventionId = Model.AssessmentInterventionId }, new { @class = "govuk-link" })
                                        }
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Status
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.Status</p>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    @Html.HiddenFor(x => Model.AssessmentInterventionId)

                </fieldset>
            </div>
            <div class="govuk-button-group">
                @if (isEditable)
                {
                    <input id="Submit" type="submit" value="Submit" name="submitButton" class="govuk-button"/>
                    <input id="Cancel" type="submit" value="Cancel" name="submitButton" class="govuk-button govuk-button--warning"/>
                }
                @Html.ActionLink("Go to Assessment Summary", "Summary", "Assessment", new { Model.AssessmentId, Model.CorrelationId }, new { @class = "govuk-button" })
            </div>

        </div>
    }
</div>
