@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Question
@{
    var itemDayName = "Data.Questions[" + Model.Index + "].Date.Day";
    var itemMonthName = "Data.Questions[" + Model.Index + "].Date.Month";
    var itemYearName = "Data.Questions[" + Model.Index + "].Date.Year";
    var formItemName = "Data.Questions[" + Model.Index + "].Date";

    var errorFormClass = !Model.IsValid ? "govuk-form-group--error" : "";
    var errorFieldClass = !Model.IsValid ? "govuk-input--error" : "";
    var questionTextModel = new QuestionText() { Text = Model.Text, ReevaluatePrepopulatedAnswers = Model.ReevaluatePrePopulatedAnswers };
}

<div class="govuk-form-group @errorFormClass" id="@formItemName">
    @await Html.PartialAsync("_QuestionTitle", Model.Title)

    @await Html.PartialAsync("_QuestionText", questionTextModel)
    @await Html.PartialAsync("_QuestionHint", Model.QuestionHint)
    @await Html.PartialAsync("_ReevaluatePrePopulatedAnswersText", Model.ReevaluatePrePopulatedAnswers)

    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-day">
                Day
            </label>
            <input id="@itemDayName" name="@itemDayName" class="govuk-input govuk-date-input__input govuk-input--width-2 @errorFieldClass"  type="number"  inputmode="numeric"  value="@Model.Date!.Day" />
        </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-month">
                Month
            </label>
            <input id="@itemMonthName" name="@itemMonthName" class="govuk-input govuk-date-input__input govuk-input--width-2 @errorFieldClass" type="number" inputmode="numeric" value="@Model.Date!.Month" />
        </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-year">
                Year
            </label>
            <input id="@itemYearName" name="@itemYearName" class="govuk-input govuk-date-input__input govuk-input--width-3 @errorFieldClass" type="number" inputmode="numeric" value="@Model.Date!.Year" />
        </div>
    </div>
    @await Html.PartialAsync("_QuestionGuidance", Model.QuestionGuidance)
    @await Html.PartialAsync("_Comments", new Comment(){Index = Model.Index, CommentText = Model.Comments,DisplayComments = Model.DisplayComments})
</div>