@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@using He.PipelineAssessment.UI.Helper
@using Elsa.CustomWorkflow.Sdk.Providers;
@using Elsa.CustomWorkflow.Sdk
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Question


@{
    var formItemName = ValidationPropertyNameProvider.GetPropertyName(Model.QuestionType, Model.Index);
    var errorFormClass = !Model.IsValid ? "govuk-form-group--error" : "";
    //var errorFieldClass = !Model.IsValid ? "govuk-input--error" : "";
    var isReadOnly = Model.IsReadOnly ? "disabled" : "";
}


<div class="govuk-form-group @errorFormClass" id="@formItemName">

    @{
        var dataTable = Model.DataTable;

    }


    @for (int i = 0; i < Model.DataTable.Count(); i++)
    {
        var hiddenInputType = "Data.Questions[" + Model.DataTable[i].QuestionIndex + "].DataTable.InputType";
        var hiddenGroupingId = "Data.Questions[" + Model.DataTable[i].QuestionIndex + "].DataTable.DisplayGroupId";

        <input type="hidden" name="@hiddenInputType" value="@Model.DataTable[i].InputType" />
        <input type="hidden" name="@hiddenGroupingId" value="@Model.DataTable[i].DisplayGroupId" />
    }

    @{
        DataTable largestDataTable = Model.DataTable.OrderByDescending(x => x.Inputs.Count()).FirstOrDefault()!;
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">

                    </dt>
                    @for (int q = 0; q < Model.DataTable.Count(); q++)
                    {
                        var inputItemName = "Data.Questions[" + Model.DataTable[q].QuestionIndex + "].DataTable.Inputs";
                        var questionText = Model.DataTable[q].ReEvaluatePrePopulatedAnswers && !Model.DataTable[q].Inputs.All(x => x.IsReadOnly) ? $"{@Model.DataTable[q].QuestionText}*" : @Model.DataTable[q].QuestionText;
                        <dt class="govuk-summary-list__key" id="@inputItemName">
                            @questionText
                        </dt>
                    }
                </div>

                @for (int i = 0; i < largestDataTable.Inputs.Count(); i++)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @largestDataTable.Inputs[i].InputHeading
                        </dt>
                        @for (int q = 0; q < Model.DataTable.Count(); q++)

                        {
                            int countOfColumnIndex = Model.DataTable[q].Inputs.Count();
                            if (i < countOfColumnIndex)
                            {
                                var inputs = "Data.Questions[" + Model.DataTable[q].QuestionIndex + "].DataTable.Inputs";
                                var itemId = inputs + "[" + i + "]";
                                var itemName = itemId + ".Input";
                                var hiddenTitleName = itemId + ".Title";
                                var hiddenIdentifierName = itemId + ".Identifier";
                                var hiddenIsReadOnlyName = itemId + ".IsReadOnly";
                                var hiddenIsSummaryTotalName = itemId + ".IsSummaryTotal";

                                <input type="hidden" name="@hiddenTitleName" value="@Model.DataTable[q].Inputs[i].InputHeading" />
                                <input type="hidden" name="@hiddenIdentifierName" value="@Model.DataTable[q].Inputs[i].Identifier" />
                                <input type="hidden" name="@hiddenIsReadOnlyName" value="@Model.DataTable[q].Inputs[i].IsReadOnly.ToString()" />
                                <input type="hidden" name="@hiddenIsSummaryTotalName" value="@Model.DataTable[q].Inputs[i].IsSummaryTotal.ToString()" />

                                var input = Model.DataTable[q].Inputs.ElementAtOrDefault(i);
                                bool hasNullInput = input == null;
                                var inputValue = hasNullInput ? "" : Model.DataTable[q].Inputs[i].Input;
                                var disableInput = Model.DataTable[q].Inputs[i].IsReadOnly ? "disabled" : "";
                                string dataFlagIsSummary = Model.DataTable[q].Inputs[i].IsSummaryTotal ? "true" : "false";
                                string dataColumn = Model.DataTable[q].DisplayGroupId + "_" + q.ToString();
                                string questionNotAnswered = Model.ValidationMessages != null && Model.ValidationMessages.Errors.Any(x => x.PropertyName == @inputs) ? "govuk-input--error" : "";
                                string errorFieldClass = Model.ValidationMessages != null && Model.ValidationMessages.Errors.Any(x => x.PropertyName == @itemId) ? "govuk-input--error" : "";
                                <dd class="govuk-summary-list__value">
                                    <div class="govuk-input__wrapper">
                                        @if (!String.IsNullOrEmpty(disableInput))
                                        {
                                            <input type="hidden" name="@itemName" value="@Model.DataTable[q].Inputs[i].Input" data-summary="true" />

                                        }
                                        @if (Model.DataTable[q].InputType == DataTableInputTypeConstants.CurrencyDataTableInput)
                                        {
                                            var success = Decimal.TryParse(inputValue, out decimal tempCurrencyInputDecimal);
                                            decimal? currencyInputDecimal = success ? tempCurrencyInputDecimal : null;
                                            var currencyInputValue = success ? currencyInputDecimal.ToCommaSeparatedNumber() : inputValue;
                                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                            var labelId = Model.DataTable[q].QuestionText + "_" + Model.DataTable[q].Inputs[i].InputHeading;
                                            <label hidden id="@labelId.Replace(" ","")">Input for column @Model.DataTable[q].QuestionText and row @Model.DataTable[q].Inputs[i].InputHeading</label>
                                            <input id="@itemId"
                                   type="text"
                                   name="@itemName"
                                   class="govuk-input govuk-input--width-10 @errorFieldClass @questionNotAnswered"
                                   @disableInput
                                   data-summary=@dataFlagIsSummary
                                   data-column=@dataColumn
                                   value="@currencyInputValue"
                                   currency-formatter="true"
                                   aria-labelledby="@labelId.Replace(" ","")" />
                                        }
                                        @if (Model.DataTable[q].InputType == DataTableInputTypeConstants.DecimalDataTableInput)
                                        {
                                            var labelId = Model.DataTable[q].QuestionText + "_" + Model.DataTable[q].Inputs[i].InputHeading;
                                            <label hidden id="@labelId.Replace(" ","")">Input for column @Model.DataTable[q].QuestionText and row @Model.DataTable[q].Inputs[i].InputHeading</label>
                                            <input id="@itemName"
                                   type="text"
                                   name="@itemName"
                                   class="govuk-input govuk-input--width-10 @errorFieldClass @questionNotAnswered"
                                   @disableInput
                                   data-summary=@dataFlagIsSummary
                                   data-column=@dataColumn
                                   value="@inputValue"
                                   currency-formatter="true"
                                   aria-labelledby="@labelId.Replace(" ","")" />
                                        }
                                        @if (Model.DataTable[q].InputType == DataTableInputTypeConstants.IntegerDataTableInput)
                                        {
                                            var labelId = Model.DataTable[q].QuestionText + "_" + Model.DataTable[q].Inputs[i].InputHeading;
                                            <label hidden id="@labelId.Replace(" ","")">Input for column @Model.DataTable[q].QuestionText and row @Model.DataTable[q].Inputs[i].InputHeading</label>
                                            <input id="@itemName"
                                   type="text"
                                   name="@itemName"
                                   class="govuk-input govuk-input--width-10 @errorFieldClass @questionNotAnswered"
                                   @disableInput
                                   data-summary=@dataFlagIsSummary
                                   data-column=@dataColumn
                                   value="@inputValue"
                                   currency-formatter="true"
                                   aria-labelledby="@labelId.Replace(" ","")" />
                                        }
                                        @if (Model.DataTable[q].InputType == DataTableInputTypeConstants.TextDataTableInput)
                                        {
                                            var labelId = Model.DataTable[q].QuestionText + "_" + Model.DataTable[q].Inputs[i].InputHeading;
                                            <label hidden id="@labelId.Replace(" ","")">Input for column @Model.DataTable[q].QuestionText and row @Model.DataTable[q].Inputs[i].InputHeading</label>
                                            <input id="@itemId"
                                   type="text"
                                   name="@itemName"
                                   class="govuk-input govuk-input--width-10 @errorFieldClass @questionNotAnswered"
                                   @disableInput
                                   value="@inputValue"
                                   aria-labelledby="@labelId.Replace(" ","")" />
                                        }
                                    </div>
                                </dd>
                            }
                            else
                            {
                                <dd class="govuk-summary-list__value">
                                    <div class="govuk-input__wrapper">
                                    </div>
                                </dd>
                            }
                        }
                    </div>
                }
            </dl>
        </div>
    </div>
</div>