@model He.PipelineAssessment.UI.Features.Workflow.SaveAndContinue.SaveAndContinueCommand

@Html.ValidationSummary(false,"",new{@class="govuk-list govuk-error-summary__list"})

<div class="govuk-form-group">
    <h1 class="govuk-heading-l">
        @Html.DisplayTextFor(m => m.Data.DateQuestionActivityData!.Title)
    </h1>
    <label class="govuk-label govuk-label--m">
        @Html.DisplayTextFor(m => m.Data.DateQuestionActivityData!.Question)
    </label>
    @if (!string.IsNullOrEmpty(Model.Data.DateQuestionActivityData!.QuestionHint))
    {
        <div id="event-name-hint" class="govuk-hint">
            @Model.Data.DateQuestionActivityData.QuestionHint
        </div>
    }
    @Html.ValidationMessageFor(m=>Model.Data.DateQuestionActivityData.DayFromDate(),"",new{@class="govuk-error-message"})
    @Html.ValidationMessageFor(m=>Model.Data.DateQuestionActivityData.MonthFromDate(),"",new{@class="govuk-error-message"})
    @Html.ValidationMessageFor(m=>Model.Data.DateQuestionActivityData.YearFromDate(),"",new{@class="govuk-error-message"})

    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-day">
                Day
            </label>
            @Html.TextBoxFor(m => Model.Data.DateQuestionActivityData.DayFromDate(), new {@class = "govuk-input govuk-date-input__input govuk-input--width-2", @name="date-day", @type = "number", @inputmode="numeric"})
            </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-month">
                Month
            </label>
            @Html.TextBoxFor(m => Model.Data.DateQuestionActivityData.MonthFromDate(), new {@class = "govuk-input govuk-date-input__input govuk-input--width-2", @name="date-month", @type = "number", @inputmode="numeric"})
            </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-year">
                Year
            </label>
            @Html.TextBoxFor(m => Model.Data.DateQuestionActivityData.YearFromDate(), new {@class = "govuk-input govuk-date-input__input govuk-input--width-3", @name="date-year", @type = "number", @inputmode="numeric"})
        </div>
    </div>




    @if (!string.IsNullOrEmpty(Model.Data.DateQuestionActivityData.QuestionGuidance))
    {
        <br />
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Question guidance
                </span>
            </summary>
            <div class="govuk-details__text">
                @Model.Data.DateQuestionActivityData.QuestionGuidance
            </div>
        </details>
    }
    <br />

        <input id="Next" type="submit" value="Save and continue" name="Next" class="govuk-button" />

</div>