@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.MultiQuestion
@{
    var itemName = "Data.QuestionScreenAnswers[" + Model.Index + "].Answer";
    var errorFormClass = !Model.IsValid ? "govuk-form-group--error" : "";
    var errorFieldClass = !Model.IsValid ? "govuk-input--error" : "";
    var isReadOnly = Model.IsReadOnly ? "disabled" : "";
}

<div class="govuk-form-group @errorFormClass">
    @await Html.PartialAsync("_QuestionTitle", Model.Title)

    @await Html.PartialAsync("_QuestionText", Model.Question)
    @await Html.PartialAsync("_QuestionHint", Model.QuestionHint)

    <div class="govuk-input__wrapper">
        <textarea id="@itemName" name="@itemName" class="govuk-textarea govuk-textarea--width-6 @errorFieldClass" rows="5" maxlength="@Model.CharacterLimit" @isReadOnly>@Model.Answer</textarea>
    </div>

    @await Html.PartialAsync("_QuestionGuidance", Model.QuestionGuidance)

    @await Html.PartialAsync("_MultiComments", new MultiComment(){Index = Model.Index, Comment = Model.Comments,DisplayComments = Model.DisplayComments})
</div>