@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@using Elsa.CustomWorkflow.Sdk.Providers;
@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Question
@{
    var itemName = "Data.Questions[" + Model.Index + "].Text";
    var answerName = ValidationPropertyNameProvider.GetPropertyName(Model.QuestionType, Model.Index); ;
    var errorFormClass = !Model.IsValid ? "govuk-form-group--error" : "";
    var errorFieldClass = !Model.IsValid ? "govuk-input--error" : "";
    var isReadOnly = Model.IsReadOnly ? "disabled" : "";
    var label = "Label-" + Model.QuestionText.Replace(" ", "");
    var questionTextModel = new QuestionText() { Text = Model.QuestionText, ReevaluatePrepopulatedAnswers = Model.ReevaluatePrePopulatedAnswers, IsReadOnly = Model.IsReadOnly, Label=label};

}

<div class="govuk-form-group @errorFormClass">
    @await Html.PartialAsync("_QuestionText", questionTextModel)
    @await Html.PartialAsync("_QuestionHint", Model)

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="@Model.CharacterLimit">
        <div class="govuk-form-group">
            <textarea class="govuk-textarea govuk-js-character-count" id="@answerName" @errorFieldClass @isReadOnly name="@itemName" rows="5" aria-labelledby=@label >@Model.Text</textarea>
        </div>
        <div id="@answerName-info" class="govuk-hint govuk-character-count__message">
            You can enter up to @Model.CharacterLimit characters
        </div>
    </div>

    @if (Model.EnhancedGuidance != null && Model.EnhancedGuidance.Any())
    {
        @await Html.PartialAsync("_EnhancedGuidance", Model)
    }
    else
    {
        @await Html.PartialAsync("_QuestionGuidance", Model.QuestionGuidance)
    }
    
    

    @await Html.PartialAsync("_Comments", new Comment(){Index = Model.Index, CommentText = Model.Comments,DisplayComments = Model.DisplayComments})
    @await Html.PartialAsync("_Evidence", new Evidence(){Index = Model.Index, DocumentLink = Model.DocumentEvidenceLink ,DisplayEvidenceBox = Model.DisplayEvidenceBox})
</div>