@model QuestionScreenSaveAndContinueCommand;
@using He.PipelineAssessment.UI
@using Elsa.CustomWorkflow.Sdk
@using He.PipelineAssessment.UI.Features.Workflow.QuestionScreenSaveAndContinue
@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_Layout";
}
@Html.ActionLink("Back","LoadWorkflowActivity","Workflow", new {WorkflowInstanceId = Model.Data.WorkflowInstanceId, ActivityId = Model.Data.PreviousActivityId, ActivityType = Model.Data.PreviousActivityType},new{ @class="govuk-back-link"})
@using (Html.BeginForm("CheckYourAnswerScreenSaveAndContinue", "Workflow", FormMethod.Post))
{
    @Html.HiddenFor(m => Model.Data.WorkflowInstanceId)
    @Html.HiddenFor(m => Model.Data.ActivityId)
    <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
            @Html.DisplayTextFor(m => m.Data.PageTitle)
        </h1>

        <div class="govuk-grid-row">
            @foreach (var question in Model.Data.QuestionScreenAnswers!)
            {
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @question.Question
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @question.Answer
                            </dd>
@*                            @if (Model.Data. != "Finished")
                            {*@
                            <dd class="govuk-summary-list__actions">
                                @Html.ActionLink("Change", "LoadWorkflowActivity", "Workflow", new { WorkflowInstanceId = Model.Data.WorkflowInstanceId, ActivityId = @question.ActivityId, ActivityType = ActivityTypeConstants.QuestionScreen }, new { @class = "govuk-link" })
                            </dd>
@*                            }*@
                        </div>
                    </dl>
                </div>
            }
        </div>

        <br/>
        <div>
          <h2 class="govuk-heading-m">@Html.DisplayTextFor(m => m.Data.FooterTitle)</h2>
            <p class="govuk-body">@Html.DisplayTextFor(m => m.Data.FooterText).</p>
        </div>
        @{
            //if (Model.Data.WorkflowStatus != "Finished")
            //{
            //    <input id="Next" type="submit" value="Submit" name="Submit" class="govuk-button"/>
            //}
            //else
            //{
                <input id="Next" type="submit" value="Submit" name="Continue" class="govuk-button"/> 
            //}
        }
    </div>
    }