@model He.PipelineAssessment.UI.Features.Workflow.LoadConfirmationScreen.LoadConfirmationScreenResponse;
@using He.PipelineAssessment.UI.Features.Workflow.ViewModels
@using Elsa.CustomWorkflow.Sdk
@using System.Text.Json
@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_Layout";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @Model.Data.ConfirmationTitle
    </h1>
    <div class="govuk-panel__body">
        @Model.Data.ConfirmationText
    </div>
</div>
<div>
    <h2 class="govuk-heading-m">@Html.DisplayTextFor(m => m.Data.FooterTitle)</h2>
    <p class="govuk-body">@Html.DisplayTextFor(m => m.Data.FooterText).</p>

    @foreach (var text in Model.Data.Text.InformationTextList.
    Select(x => new InformationText
    {
        Text = x.Text,
       IsHyperlink = x.IsHyperlink,
       IsGuidance = x.IsGuidance,
        IsParagraph = x.IsParagraph,
        Url = x.Url
    }).ToList())
    {
        @await Html.PartialAsync("_InformationTextWrapper", text);
    }
</div>

<h2 class="govuk-heading-m">
    Review your answers
</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            @foreach (var question in Model.Data.CheckQuestionScreenAnswers!)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @question.QuestionText
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (question.Answers != null)
                        {
                            @foreach (var answer in question.Answers)
                            {
                                <p>@answer</p>
                            }
                        }
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>

<div>
    @Html.ActionLink("Go to Assessment Summary", "Summary", "Assessment", new { Model.AssessmentId, Model.CorrelationId }, new { @class = "govuk-button" })
</div>
