@model He.PipelineAssessment.UI.Features.Workflow.LoadConfirmationScreen.LoadConfirmationScreenResponse;
@using Elsa.CustomWorkflow.Sdk
@using System.Text.Json
@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_Layout";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @Model.Data.ConfirmationTitle
    </h1>
    <div class="govuk-panel__body">
        @Model.Data.ConfirmationText
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            @foreach (var question in Model.Data.CheckQuestionScreenAnswers!)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @question.Question
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (question.QuestionType == QuestionTypeConstants.CheckboxQuestion)
                        {
                            var answerList = JsonSerializer.Deserialize<List<string>>(question.Answer!);

                            if (answerList != null)
                            {
                                var result = string.Join(", ", answerList);
                                @result
                            }
                        }
                        else
                        {
                            @question.Answer
                        }
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>

<div>
    <h2 class="govuk-heading-m">@Html.DisplayTextFor(m => m.Data.FooterTitle)</h2>
    <p class="govuk-body">@Html.DisplayTextFor(m => m.Data.FooterText).</p>
</div>

<div>
    <span>@Model.CorrelationId</span>
    <span>@Model.AssessmentId</span>
    @Html.ActionLink("Go to Assessment Summary", "Summary", "Assessment", new { Model.AssessmentId, Model.CorrelationId }, new { @class = "govuk-button" })
</div>
