@model He.PipelineAssessment.UI.Features.Workflow.SaveAndContinue.SaveAndContinueCommand
@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_Layout";
}
<div class="text-center">

    @Html.ActionLink("Back","LoadWorkflowActivity","Workflow", new {WorkflowInstanceId = Model.Data.WorkflowInstanceId, ActivityId = Model.Data.PreviousActivityId},new{ @class="govuk-back-link"})

    @using (Html.BeginForm("SaveAndContinue", "Workflow", FormMethod.Post))
    {
        @Html.HiddenFor(m => Model.Data.WorkflowInstanceId)
        @Html.HiddenFor(m => Model.Data.ActivityId)
        <br/>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @Html.DisplayTextFor(m => m.Data.ActivityData.Question)
                    </h1>
                </legend>
                <div id="waste-hint" class="govuk-hint">
                    Select all that apply.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    @for (int i = 0; i < Model.Data.ActivityData.Choices.Count(); i++)
                    {
                        <div class="govuk-checkboxes__item">
                            @Html.HiddenFor(m => m.Data.ActivityData.Choices[i].Answer)
                            @Html.CheckBoxFor(m => m.Data.ActivityData.Choices[i].IsSelected, new {@class = "govuk-checkboxes__input"})
                            @Html.Label(Model.Data.ActivityData.Choices[i].Answer, Model.Data.ActivityData.Choices[i].Answer, new {@class = "govuk-label govuk-checkboxes__label"})
                        </div>
                    }
                </div>
            </fieldset>
            <br/>

            <input id="Next" type="submit" value="Save and continue" name="Next" class="govuk-button"/>
        </div>
    }
</div>