@using He.PipelineAssessment.UI
@using Elsa.CustomWorkflow.Sdk
@model He.PipelineAssessment.UI.Features.Workflow.SaveAndContinue.SaveAndContinueCommand

@{
    ViewData["Title"] = "Pipeline Assessment";
    Layout = "_Layout";
}
<div class="text-center">

    @Html.ActionLink("Back","LoadWorkflowActivity","Workflow", new {WorkflowInstanceId = Model.Data.WorkflowInstanceId, ActivityId = Model.Data.PreviousActivityId},new{ @class="govuk-back-link"})

    @using (Html.BeginForm("SaveAndContinue", "Workflow", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => Model.Data.WorkflowInstanceId)
        @Html.HiddenFor(m => Model.Data.ActivityId)
        @Html.HiddenFor(m => Model.Data.ActivityType)
        <br/>
        if (Model.Data.ActivityType == ActivityTypeConstants.CurrencyQuestion)
        {
           @await Html.PartialAsync("_CurrencyQuestion",Model)
        }
        if (Model.Data.ActivityType == ActivityTypeConstants.MultipleChoiceQuestion)
        {
            @await Html.PartialAsync("_MultipleChoiceQuestion",Model)
        }
        if (Model.Data.ActivityType == ActivityTypeConstants.DateQuestion)
        {
            @await Html.PartialAsync("_DateQuestion",Model)
        }
        if (Model.Data.ActivityType == ActivityTypeConstants.TextQuestion)
        {
            @await Html.PartialAsync("_TextQuestion",Model)
        }
    }
</div>