@model WorkflowNavigationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.ActivityData.Title</title>
</head>
<body>
<div class="text-center">
    @using (Html.BeginForm("ProgressWorkflow", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m=>Model.WorkflowInstanceId)
        @Html.HiddenFor(m=>Model.ActivityId)
        @Html.HiddenFor(m=>Model.ActivityData.QuestionID)
        @Html.DisplayTextFor(m=>Model.ActivityData.QuestionID)
        <br />
        @Html.DisplayTextFor(m => m.ActivityData.Question)
        <br />
        @foreach (var choice in Model.ActivityData.Choices)
        {
            @Html.Label(choice.answer)
            @Html.CheckBoxFor(m => choice.isSelected)
            <br />
        }
        <input id = "Back" type = "submit" value = "Back" name="Back"/>
        <input id = "Next" type = "submit" value = "Next" name="Next" />
    }
</div>
</body>
</html>