@using He.PipelineAssessment.Models
@model He.PipelineAssessment.UI.Features.Amendment.SubmitAmendment.SubmitAmendmentCommand

@{
    ViewData["Title"] = "Create Assessment Rollback";
    Layout = "_Layout";
}
<div class="text-center">
    @{
        var isEditable = Model.Status == InterventionStatus.Draft;
        var title = "Decision for " + @Model.DecisionType;
        if (Model.Status == InterventionStatus.Approved)
        {
            title = "Submitted " + @Model.DecisionType;
        }
    }
    @using (Html.BeginForm("SubmitAmendment", "Amendment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="govuk-form-group">
            <div class="govuk-!-padding-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.ProjectReference</span>
                        <h1 class="govuk-heading-l">
                            @title
                        </h1>
                    </legend>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds-from-desktop">
                            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Decision Type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.DecisionType</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Name
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.RequestedBy</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Assessment Stage
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.AssessmentName</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Result
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.AssessmentResult</p>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Request Reason
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.InterventionReasonName</p>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @if (isEditable)
                                        {
                                            @Html.ActionLink("Change", "EditAmendment", "Amendment", new { InterventionId = Model.AssessmentInterventionId }, new { @class = "govuk-link" })
                                        }
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Rationale
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.AssessorRationale</p>
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @if (isEditable)
                                        {
                                            @Html.ActionLink("Change", "EditAmendment", "Amendment", new { InterventionId = Model.AssessmentInterventionId }, new { @class = "govuk-link" })
                                        }
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Status
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        <p>@Model.Status</p>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                    @Html.HiddenFor(x => Model.AssessmentInterventionId)
                    @Html.HiddenFor(x => Model.AssessmentId)
                    @Html.HiddenFor(x => Model.CorrelationId)
                </fieldset>
            </div>
            @if (isEditable)
            {
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Making this request will result in losing data recorded in draft or completed Tools that occurred after the one you're amending, unless you're amending only Stage 4 tools, in which case your data will be retained.
                    </strong>
                </div>
            }
            <div class="govuk-button-group">
                @if (isEditable)
                {
                    <input id="Submit" type="submit" value="Submit" name="submitButton" class="govuk-button" />
                    <input id="Cancel" type="submit" value="Cancel" name="submitButton" class="govuk-button govuk-button--warning" />
                }
                @Html.ActionLink("Go to Assessment Summary", "Summary", "Assessment", new { Model.AssessmentId, Model.CorrelationId }, new { @class = "govuk-button" })
            </div>

        </div>
    }
</div>
