@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Comment
@{
    var itemName = "Data.Questions[" + Model.Index + "].Comments";
}
@if (Model.DisplayComments)
{
    <br />
    var moreDetailCommentsId = "more-detail-comments " + Model.Index;
    var labelCommentsId = "Comments " + Model.Index;
    <div class="govuk-form-group">
        <label id="@labelCommentsId" class="govuk-label" for="@moreDetailCommentsId">
            Comments
        </label>
        <textarea id="@moreDetailCommentsId" name="@itemName" class="govuk-textarea" maxlength=2000 >@Model.CommentText</textarea>
    </div>
}
