@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.Evidence
@{
    var itemName = "Data.Questions[" + Model.Index + "].DocumentEvidenceLink"; 
}
@if (Model.DisplayEvidenceBox)
{
    <br />
    var moreDetailEvidenceId = "more-detail-evidence " + Model.Index;
    var labelEvidenceId = "Evidence " + Model.Index;
    <div class="govuk-form-group">
        <label id="@labelEvidenceId" class="govuk-label" for="@moreDetailEvidenceId">
            Document Evidence
        </label>
        <textarea id="@moreDetailEvidenceId" name="@itemName" class="govuk-textarea" maxlength=2000>@Model.DocumentLink</textarea>
    </div>
}
