@model He.PipelineAssessment.UI.Features.Workflow.ViewModels.InformationText

@{
    var isBoldClass = Model.IsBold ? "govuk-!-font-weight-bold" : "";
}
@if(Model.IsHyperlink && !string.IsNullOrEmpty(Model.Url)){
    <a class="govuk-body govuk-link @isBoldClass" href="@Model.Url" target="_blank">@Model.Text</a>
}
else{
    <span class="govuk-body @isBoldClass">@Model.Text</span>
}


